.chart {
    flex: 4;
    box-shadow: 2px 4px 10px 1px rgb(227, 222, 222);
    color: grey;
    .title {
        padding: 15px;
    }
    .chartGrid {
        stroke: rgb(219, 215, 215);
    }
}
//fill the circular progress bar instead of using number in the middle