.home {
    display: flex;
    .homeContainer {
        flex: 5;

        .widgets, .charts {
            display: flex;
            gap: 20px;
            padding: 20px;
        }
        .charts {
            padding: 5px 20px;
        }
        .listContainer {
            box-shadow: 2px 4px 10px 1px rgb(227, 222, 222);
            padding: 20px;
            margin: 20px;

            .listTitle {
                font-weight: 500;
                color: grey;
                margin-bottom: 15px;
            }
        }
    }
}